body{
	padding-left: 15em;
	padding-right: 15em;
	margin: 0;
	background-color: whitesmoke;
}
.page-container{
	
}
.tab-container{
	display: flex;
	justify-content: center;
}
.tab{
	
	display: flex;
	width: 50%;
	gap: 3em;
	justify-content: center;
	align-items: center;
	padding: 2em;

}

.tab-header{
	background-color: red;
	padding-left: 3em;
	padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 10;
	
}

li{
	list-style: none;
	font-size: 1.4em;

}

[data-tab-content]{
	display: none;
}

.active[data-tab-content]{
	display: block;
}